<section class="registro-user">
    <div class="wrapper">
        <!-- Va a englobar todo el formulario con la cabecera -->
        <div class="section-registro">
            <!-- Va a mostrar el título en la cabecera del componente -->
            <div class="header-registro">
                <mat-icon class="icon-back" (click)="regresar()">arrow_back</mat-icon>
                <span *ngIf="!editar" class="title">Registrar Productos</span>
                <span *ngIf="editar" class="title">Actualizar Producto</span>
                <mat-icon class="icon-forward">arrow_forward</mat-icon>
            </div>
            
            <div class="body-registro">
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>ID</mat-label>
                    <input matInput [(ngModel)]="user.email" placeholder="Escribe el ID">
                </mat-form-field>
                <div *ngIf="errors.email" class="invalid-feedback">{{ errors.email }}</div>
                
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Nombre del producto</mat-label>
                    <input matInput [(ngModel)]="user.matricula" name="id" placeholder="Escribe nombre del producto">
                </mat-form-field>
                <div *ngIf="errors.matricula" class="invalid-feedback">{{ errors.matricula }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Precio</mat-label>
                    <input matInput [(ngModel)]="user.first_name" placeholder="Escriba el precio">
                </mat-form-field>
                <div *ngIf="errors.first_name" class="invalid-feedback">{{ errors.firstname }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Departamento</mat-label>
                    <input matInput [(ngModel)]="user.last_name" placeholder="Escribe el Departamento">
                </mat-form-field>
                <div *ngIf="errors.last_name" class="invalid-feedback">{{ errors.last_name }}</div>

                <div class="section-buttons">  
                    <button class="btn btn-danger" (click)="regresar()">Cancelar</button>  
                    <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrar()">Registrar</button>
                </div>
            </div>
        </div>
    </div>
</section>